<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erreur</title>
</head>
<body>

    <h1 class="title404">Erreur 404</h1>
    
<div class="image404">
    <img src="../../public/images/error404.jpeg" alt="Erreur 404">
</div>

<div class="text404">
    <p>Désolé, nous ne pouvons pas afficher la page que vous recherchez. <br> Il semble que la F1 que vous suiviez
        ait foncé dans un mur et ait causé une erreur 404 sur notre site. Veuillez réessayer plus tard. </p>
</div>
<div class="button404">
    <a href="/homepage"><button>Retour au stand</button></a>
</div>

<script type="module" src="http://localhost:5173/@vite/client"></script>
<script type="module" src="http://localhost:5173/resources/scripts/main.js"></script>

</body>
</html>