#homepage {
    overflow-y: scroll;
    height: 100vh;
}


.containerFirstArticles {
    display: flex;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
   
}

.firstArticle {
    width: 35vw;
    height: calc(52.5vh - 40px);
    margin-left: 22.5vw;
    margin-top: 3vh;
    display: flex;
    align-items: flex-end;
    position: relative;
    overflow-y: hidden;

}

.articlesRight {
    display: flex;
    flex-direction: column;
    width: 15vw;
    height: calc(52.5vh - 40px);
    margin-top: 3vh;
    margin-left: auto;
    margin-right: auto;
    gap: 2.5vh;
    overflow-y: hidden;
}

.firstArticleRight {
    width: 15vw;
    height: 25vh;
    display: flex;
    align-items: flex-end;
    position: relative;
    overflow-y: hidden;
}

.secondArticleRight {
    width: 15vw;
    height: 25vh;
    display: flex;
    align-items: flex-end;
    position:relative;
    overflow: hidden;
}

.firstArticle h1 {
    position: absolute;
bottom: 5%;
left: 5%;
    color: white;
    font-size: 40px;
    font-family: 'Inter', sans-serif;
    /* mix-blend-mode: difference; */
    text-shadow: 2px solid black;
}

.firstArticleRight h1 {
    color: white;
    position: absolute;
    bottom: 5%;
left: 5%;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    margin-bottom: 2vh;
}

.secondArticleRight h1 {
    color: white;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    margin-bottom: 2vh;
    position: absolute;
    bottom: 5%;
left: 5%;
}



.containerArticles {
    display: flex;
    width: 38vw;
    margin-left: 22.5vw;
    color: black;
    flex-wrap: wrap;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    height: auto;
    gap: 10px;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.containerArticles img {
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
    object-position: center;
}

.containerArticles .title  {
    margin: auto;
}

.articlesText {
    display: flex;
    flex-direction: column;
}

.moreInfo {
    color: gray;
    font-size: 15px;
    margin: auto;
}

.hrHomepage {
    color: gray;
    width: 80vw;
    margin: auto;
}

