#homepage {
    overflow-y: scroll;
    height: 100vh;
}

.navbar {
    width: 100vw;
    height: 100px;
    display: flex;
    background-color: black;
    color: white;
    font-family: 'Inter', sans-serif;
}

.navList > li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.navList > a {
    color:white;
}

.navList {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    width: 100vw;
}

.verticalBar {
    width: 2px;
    height: 40px;
    background-color: grey;
}

.searchIcon > img {
    width: 40px;
    height: 40px;
}

.userInfo a {
    color: white;
}

#userInfoMenu {
    display: none;
    position: absolute;
    right: 45px;
    z-index: 10;
    gap: 7px;
    background-color: black;
    color: white;
    width: 8vw;
    height: 230px;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
}

@media screen and (min-width: 1500px) {
    #userInfoMenu {
        height: 180px;
    }    
}

#userInfoMenu a {
    color: white;
}

#userInfoMenu.open {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#userInfoMenu hr {
    width: 10vw;
}

.logoutText {
    color: red;
}

.containerFirstArticles {
    display: flex;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    width: 60vw;
    height: 60vh;
}

.firstArticle {
    width: 35vw;
    height: 52.5vh;
    margin-left: 3vw;
    margin-top: 3vh;
    display: flex;
    align-items: flex-end;
}

.articlesRight {
    display: flex;
    flex-direction: column;
    width: 15vw;
    height: 52.5vh;
    margin-top: 3vh;
    margin-left: auto;
    margin-right: auto;
    gap: 2.5vh;
}

.firstArticleRight {
    width: 15vw;
    height: 25vh;
    display: flex;
    align-items: flex-end;
}

.secondArticleRight {
    width: 15vw;
    height: 25vh;
    display: flex;
    align-items: flex-end;
}

.firstArticle h1 {
    color: white;
    font-size: 40px;
    font-family: 'Inter', sans-serif;
}

.firstArticleRight h1 {
    color: white;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    margin-bottom: 2vh;
}

.secondArticleRight h1 {
    color: white;
    font-size: 30px;
    font-family: 'Inter', sans-serif;
    margin-bottom: 2vh;
}

.containerArticles {
    display: flex;
    width: 38vw;
    margin-left: 22.5vw;
    color: black;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    height: 20vh;
    gap: 10px;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.containerArticles img {
    width: 200px;
    height: 200px;
}

.containerArticles .title  {
    margin: auto;
}

.articlesText {
    display: flex;
    flex-direction: column;
}

.moreInfo {
    color: gray;
    font-size: 15px;
    margin: auto;
}

.hrHomepage {
    color: gray;
    width: 80vw;
    margin: auto;
}