@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.loginContainer {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.leftSide {
display: flex;
flex-direction: column;
width: 50vw;
align-items: center;
}

.upperText {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', sans-serif;
    margin-top: 7vh;
}

.titleLogin {
    font-size: 3.2vw;
    font-weight: 400;
}

.textLogin {
    text-align: center;
    color: #808080;
    font-size: 3.2vw;
}

.formLogin {
   margin-top: 10vh;
   display: flex;
   flex-direction: column;
   gap: 3vh; 
}

.formLogin input {
    width: 40vw;
    height: 5.5vh;
    border-radius: 5px;
    border: 1px solid grey;
}

.formLogin::placeholder {
    font-family: 'Inter', sans-serif;
}

input[type="text"] {
    font-size: 1.5vw;
    font-weight: 400;
    padding-left: 1vw;
}

input[type="password"] {
    font-size: 1.5vw;
    font-weight: 400;
    padding-left: 1vw;
}

.hasAccompt {
    text-align: center;
    font-family: 'Inter', sans-serif;
    margin-top: 2vh;
}

.hasAccompt a {
    text-decoration: underline;
}

.signUpGoogle {
    margin-top: 7vh;
}

.buttonSignIn {
    display: flex;
    background-color: white;
    color: #7d7d7d;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border: solid 1px black;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-family: 'Inter', sans-serif;
}

.logo {
    background-image: url('../../public/images/google.png');
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin-right: 8px;
    background-repeat: no-repeat;
  }

.rightSideLogin {
    display: flex;
    width: 50vw;
    background-image: url(../../public//images/ferrari-gf241408c4_1920.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

.errorMessage {
    display: flex;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    color: red;
}

.shake-horizontal {
	-webkit-animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@-webkit-keyframes shake-horizontal {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }
    80% {
      -webkit-transform: translateX(8px);
              transform: translateX(8px);
    }
    90% {
      -webkit-transform: translateX(-8px);
              transform: translateX(-8px);
    }
  }
  @keyframes shake-horizontal {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }
    80% {
      -webkit-transform: translateX(8px);
              transform: translateX(8px);
    }
    90% {
      -webkit-transform: translateX(-8px);
              transform: translateX(-8px);
    }
  }

@media screen and (max-width: 600px) {
    .imgRight {
      display: none;
    }
    .leftSide {
      width: 100vw;
    }
    .rightSide {
        width: 0vw;
    }
    .titleLogin {
        font-size: 5vw;
    }
    .textLogin {
        font-size: 4vw;
    }
    input[type="text"] {
        font-size: 2.8vw;
    }
    input[type="password"] {
        font-size: 2.8vw;
    }
  }

  @media screen and (max-width: 600px) {
    .titleLogin {
        font-size: 8vw;
    }
    .textLogin {
        font-size: 8vw;
    }
    input[type="text"] {
        font-size: 4.8vw;
    }
    input[type="password"] {
        font-size: 4.8vw;
    }
  }
  
